<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="../styling/home.css">
    <link rel="stylesheet" href="../styling/beffects.css">
    <title>CCE HOME PAGE</title>
    <link rel="icon" href="../statics/cce-favicon.png" type="image/png">


</head>

<body>

    <!-- //background stylings -->
    <div class="bg"></div>

    <div class="star-field">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark shadow-lg bg-gradient" >
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="../statics/access-logo.png" alt="access logo" width="80" height="40">
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">HOME</a>
                    <a class="nav-link" href="/about">ABOUT</a>
                </div>
            </div>
        </div>
    </nav>


    <div class="sec">

        <section class="py-5 text-center container m-0 mx-auto">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto ">
                    <h1 class="fw-light fw-bold" id="heading">CCE STUDY MATERIALS</h1>
                    <p class="lead text-muted" ID="intro">SITE WHERE YOU CAN FIND ALL THE STUDY MATERIALS AND
                        APPLICATIONS NEEDED FOR COMPUTER AND COMMUNICATION
                        BRANCH.</p>
                    <p>
                        <a href="/feedback" class="btn btn-primary my-2 mx-3 p-2 px-3" id="feedback_button">FEEDBACK</a>

                    </p>
                </div>
            </div>
        </section>


    </div>

    <div class="container ">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
            <div class="col">
                <div class="card shadow-lg p-3 homecard bg-gradient">
                    <img src="../statics/first.jpeg" alt="" srcset="" class="d-block">
                    <div class="card-body ">
                        <p class="card-text text-white ">3rd SEM STUDY MATERIALS.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/intermediate3rdsem">
                                    <button type="submit" class="btn btn-lg btn-primary "
                                        id="home_buttons">OPEN</button>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg p-3 bg-gradient homecard">
                    <img src="../statics/second.jpeg" alt="" srcset="" class="d-block">

                    <div class="card-body">
                        <p class="card-text text-white">4th SEM STUDY MATERIALS.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group ">
                                <a href="/intermediate4thsem">
                                    <button type="submit" class="btn btn-lg btn-primary" id="home_buttons">OPEN</button>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg p-3 bg-gradient homecard">
                    <img src="../statics/third.jpeg" alt="" srcset="" class="d-block">

                    <div class="card-body">
                        <p class="card-text text-white">5th SEM STUDY MATERIALS.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/5thsemnotes">
                                    <button type="submit" class="btn btn-lg btn-primary" id="home_buttons">OPEN</button>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>
        
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>