<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        body {
            background-image: linear-gradient(to right, rgb(56, 34, 145), rgb(74, 9, 87));

        }

        .topcontainer {
            margin: 2em 2em;
            width: 75%;
        }

        #subjects {
            border-radius: 1em;
        }

        .homecard {
            border-radius: 0.8em;
            /* box-shadow: 0 0 5px 0; */
            background: inherit;
            backdrop-filter: blur(10px);
            border: 0;
            color: rgb(154, 224, 236);
        }

        .btn {
            border-radius: 1em;

        }
    </style>
    <title>3RD SEM NOTES</title>
    <link rel="icon" href="../../statics/Screenshot 2021-12-31 233719-modified.png" type="image/png">


</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">3RD SEM PAGE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">HOME</a>

                </div>
            </div>
        </div>
    </nav>



    <div class="col-md-6 mx-auto topcontainer" id="">
        <div class="h-100 p-5  bg-gradient homecard shadow-lg ">
            <h2>DATA COMMUNICATION</h2>
            <p></p>
            <a href="https://drive.google.com/drive/folders/1u_92zhgxQOEcUwn_IKsrjTZ5mLpjT-xA?usp=sharing">
                <button class="btn btn-primary " id="dc" type="submit">OPEN</button>
            </a>
        </div>
    </div>

    <div class="col-md-6 mx-auto topcontainer">
        <div class="h-100 p-5  bg-gradient homecard shadow-lg">
            <h2>DATA STRUCTURES</h2>
            <p></p>
            <a href="https://drive.google.com/drive/folders/17gjcPktyakwbbHWv3H4vKpfsUsAPKsyz?usp=sharing">
                <button class="btn btn-primary" type="submit">OPEN</button>
            </a>
        </div>
    </div>

    <div class="col-md-6 mx-auto topcontainer">
        <div class="h-100 p-5  bg-gradient homecard shadow-lg">
            <h2>OBJECT ORIENTED PROGRAMMING IN PYTHON</h2>
            <p></p>
            <a href="https://drive.google.com/drive/folders/1pyqzSYOzekuy39GmDDschCeXnrdxk3s_?usp=sharing">
                <button class="btn btn-primary" type="submit">OPEN</button>
            </a>
        </div>
    </div>

    <div class="col-md-6 mx-auto topcontainer">
        <div class="h-100 p-5   bg-gradient homecard shadow-lg">
            <h2>DIGITAL COMPUTER ORGANISTAION</h2>
            <p></p>
            <a href="https://drive.google.com/drive/folders/1OK1SUGhT0HVre7b7jKD2xhvA4uyXw49s?usp=sharing">
                <button class="btn btn-primary" type="submit">OPEN</button>
            </a>
        </div>
    </div>

    <div class="col-md-6 mx-auto topcontainer">
        <div class="h-100 p-5  bg-gradient homecard shadow-lg">
            <h2>DISCRETE MATHMATICAL STRUCTURES</h2>
            <p></p>
            <a href="https://drive.google.com/drive/folders/1yPFhASyoTizQC67cJB3raGmTUOdr_p15?usp=sharing">
                <button class="btn btn-primary" type="submit">OPEN</button>
            </a>
        </div>
    </div>

    <div class="col-md-6 mx-auto topcontainer">
        <div class="h-100 p-5  bg-gradient homecard shadow-lg">
            <h2>DATA STRUCTURE LAB</h2>
            <p></p>
            <a href="https://drive.google.com/drive/folders/10el7bV3o_iw2H5cDiv3iDz1bwROKpp7_?usp=sharing">
                <button class="btn btn-primary" type="submit">OPEN</button>
            </a>
        </div>
    </div>

    <div class="col-md-6 mx-auto topcontainer">
        <div class="h-100 p-5  bg-gradient homecard shadow-lg">
            <h2>OOP LAB</h2>
            <p></p>
            <a href="https://drive.google.com/drive/folders/14GbUbIZ4Vu-itjLBuL35x7ZnSTQ1MLDo?usp=sharing">
                <button class="btn btn-primary" type="submit">OPEN</button>
            </a>
        </div>
    </div>

    <div class="col-md-6 mx-auto topcontainer">
        <div class="h-100 p-5  bg-gradient homecard shadow-lg">
            <h2>OOP USING C++</h2>
            <p></p>
            <a href="https://drive.google.com/drive/folders/1ehFDjOp0pIpsr5zXTeW1gBq_SiLorier?usp=sharing">
                <button class="btn btn-primary" type="submit">OPEN</button>
            </a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    
</body>

</html>